@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    color: theme("colors.tertiary");
    background-color: theme("colors.primary");
    padding: theme("spacing.4") theme("spacing.8");
  }
}
